<div>
    <a data-toggle="modal" onclick="{{name}}.settings()" class="btn btn-primary btn-small">Settings</a>
</div>
<div>
    <table>
        {% for server in servers %}
        <tr>
            <td>{{server.name}}</td>
            <td>{{server.status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>