<div class="modal-header">
    <h3>MyServers Settings</h3>
</div>
<div class="modal-body">
    <table class="serverSettingsList">
        <tr><th>Alias</th><th>Address</th><th>Port</th></tr>
        {% for server in servers %}
        <tr>
            <td class="aliasData">{{server.name}}</td><td>{{server.host}}</td>
            <td>{{server.port}}</td>
            <td><a onclick="{{name}}.deleteServerSetting(this)" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="modal-body">
    <form action="#" class="addServerForm">
        <table style="width=100%;">
            <tr>
                <td><label for="alias">Alias: </label></td>
                <td><input type="text" id="alias" /><br/></td>
            </tr>
            <tr>
                <td><label for="host">Host:</label></td>
                <td><input type="text" id="host" /><br/></td>
            </tr>
            <tr>
                <td><label for="port">Port: </label></td>
                <td><input type="text" id="port" /><br/></td>
                <td></td>
            </tr>
        </table>
    </form>
    <ul class="addServerFormErrorsList">
    </ul>
    <a onclick="{{name}}.addServerSetting()" class="btn btn-primary">Add</a>
</div>

<div class="modal-footer">
    <a onclick="{{name}}.exitSettings()" class="btn btn-primary">Close</a>
</div>
